<p>Fields with stars("*") are required</p>
<div class="body">
  <form (ngSubmit)="addTask()" [formGroup]="taskAddForm" class="m-4" form>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
        <mat-form-field appearance="outline" class="example-full-width mb-3">
          <mat-label>Choose users</mat-label>
          <mat-select formControlName="users" multiple required size="3">
            <mat-option *ngFor="let user of users" value="{{user.id}}">
              <span>
                {{ user.first_name }} {{ user.last_name }} ({{ user.task }})
              </span>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="taskAddForm.get('users').hasError('required')">
            users are required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
        <mat-form-field appearance="outline" class="example-full-width mb-3">
          <mat-label>Planned start date</mat-label>
          <input [owlDateTime]="start_date" formControlName="planned_start_date" matInput placeholder="Date Time">
          <span [owlDateTimeTrigger]="start_date"><i class="fa fa-calendar"></i></span>
          <owl-date-time #start_date></owl-date-time>
          <mat-error *ngIf="taskAddForm.get('planned_start_date').hasError('required')">
            Planned start date is required
          </mat-error>
        </mat-form-field>

      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
        <mat-form-field appearance="outline" class="example-full-width mb-3">
          <mat-label>Planned end date</mat-label>
          <input [owlDateTime]="end_date" formControlName="planned_end_date" matInput placeholder="Date Time">
          <span [owlDateTimeTrigger]="end_date"><i class="fa fa-calendar"></i></span>
          <owl-date-time #end_date></owl-date-time>
          <mat-error *ngIf="taskAddForm.get('planned_end_date').hasError('required')">
            Planned end date is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
        <button [disabled]="!taskAddForm.valid" class="btn-space" color="primary" mat-raised-button>Add
          task
        </button>
      </div>
    </div>
  </form>
</div>
